.clear{
    clear: both;
}
.a-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.over-hidden{
    overflow: hidden;
}
.index-sprite{
    background: url("../images/index-sprite.46697e09ea7485bc.png") no-repeat;
}
#top_top {
    height: 40px !important;
}
.zhw-header{
    width:100%;
    min-width: 1200px;
    background-color:#252525;
    height: 40px;
}
.zhw-header .header-content{
    position: relative;
    width: 1200px;
    height:40px;
    margin: 0 auto;
}
.zhw-header .home-icon{
    width: 18px;
    height: 14px;
    display: inline-block;
    background-position: -80px -152px;
    margin-right: 8px;
}
.zhw-header .header-left{
    float: left;
    margin: 12px 0 11px 0;
    color:#A2A2A2;
    font-size: 12px;
}
.zhw-header .header-left:hover i{
    background-position: -57px -152px;
}
.zhw-header .header-left:hover{
    color: #fff;
    cursor: pointer;
}
.zhw-header .header-right{
    height: 40px;
}
.zhw-header .header-personal{
    height: 40px;
}
.zhw-header .header-wel{
    position: relative;
    top: -1px;
    font-size: 12px;
}
.zhw-header .header-mobile-text,
.zhw-header .header-text{
    /* display: inline-block; */
}
.login-top .header-text:nth-child(2) {
    color: #FF5B5B;
}
.zhw-header .header-text{
    font-size: 12px;
    color:#A2A2A2;
    margin: 12px 0;
    cursor: pointer;
    position: relative;
}
.zhw-header .header-text:hover{
    color: #fff;
}
.zhw-header .header-text.header-recharge,
.zhw-header .header-text.header-recharge:hover{
    color: #fc3737;
}
.zhw-header .header-line{
    width: 1px;
    height: 12px;
    background-color: #444444;
    margin: 14px 0;
}
.zhw-header .header-envelope{
    width: 25px;
    float: left;
}
.zhw-header .sys-mes-icon{
    display: inline-block;
    width: 15px;
    height: 11px;
    background: url("../images/mail.6491a03a8fe699d3.png") center center no-repeat;
    position: relative;
    top: 1px;
}
.zhw-header .header-text:hover .sys-mes-icon{
    background: url("../images/mail-hover.bfcf2da711cfba04.png") center center no-repeat;
}
.zhw-header .sys-mes-num{
    font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #ffffff;
    display: inline-block;
    min-width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    background: #fc3737;
    position: absolute;
    right: -10px;
    top: -8px
}
.zhw-header .sys-mes-important{
    width: 154px;
    height: 80px;
    background-color: #ffffff;
	box-shadow: 0px 6px 23px 1px rgba(86, 86, 86, 0.1);
	border: solid 1px #ebebeb;
    position: absolute;
    top: 28px;
    left: -70px;
}
.zhw-header .sys-mes-important-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 72px;
    top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #fff;
}
.zhw-header .sys-mes-important-inner .sys-mes-important-tip{
    padding-top: 11px;
    margin: 0 auto;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
    color: #787878;
    text-align: center;
}
.zhw-header .sys-mes-important-inner .sys-mes-important-btn{
    margin: 14px auto 0 auto;
    display: block;
    width: 80px;
	height: 23px;
	background-color: #fc3737;
    border-radius: 2px;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
}
.zhw-header .sys-mes-important-inner .sys-mes-important-btn:hover{
	box-shadow: 0px 5px 13px 1px rgba(252, 55, 55, 0.2);
}
.zhw-header .envelope-unread{
    font-size: 12px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 7px;
    background-color: #FC3737;
    color: #fff;
    cursor: pointer;
}
.zhw-header .header-nav{
    float: left;
    cursor: pointer;
    position: relative;
    height: 40px;
}
.lh40{
    line-height: 40px;
}
.zhw-header .header-nav:hover .header-text{
    color: #fff;
}
.zhw-header .header-nav:hover .icon-san{
    background: url("../images/icon-san-hover.png") no-repeat;
}
.zhw-header .header-toggle{
    display: none;
}
.zhw-header .header-nav:hover .header-toggle{
    display: block;
}
.zhw-header .header-text-on{
    color: #fff;
}
.zhw-header .icon-san{
    width: 6px;
    height: 5px;
    display: inline-block;
    background: url("../images/icon-san-default.png") no-repeat;
    position: relative;
    top: -2px;
    margin-left: 4px;
}
.zhw-header .icon-mobile{
    width: 9px;
    height: 12px;
    display: inline-block;
    background-position: -123px -153px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}
.zhw-header .mtb12-mob{
    margin: 12px 0 11px 0;
    color: #a2a2a2;
}
.zhw-header .mtb12-mob span{
    font-size: 12px;
    color: inherit;
    margin: 0;
    cursor: pointer;
}
.zhw-header .mtb12-mob:hover i{
    background-position: -109px -153px;
}
.zhw-header .header-personal .mtb12-mob:hover{
    color: #fff;
}
.zhw-header .header-msg{
    position: relative;
}
.zhw-header .header-msg-box{
    float: left;
    height: 40px;
}
.zhw-header .header-avatar{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    margin: 10px;
}
.zhw-header .header-username{
    font-size:12px;
    color: #A2A2A2;
}
.zhw-header .header-recharge{
    font-size: 12px;
    margin: 12px 0 0 23px;
    color: #FC3737;
}
.zhw-header .ml23{
    margin-left: 23px;
}
.zhw-header .ml25{
    margin-left: 25px;
}
.zhw-header .ml19{
    margin-left: 19px;
}
.zhw-header .ml24{
    margin-left: 24px;
}
.zhw-header .ml20{
    margin-left: 20px;
}
.zhw-header .mr18{
    margin-right: 16px;
}
.zhw-header .mr6{
    margin-right: 6px;
}
.zhw-header .ml6{
    margin-left: 6px;
}
.zhw-header .pt19{
    padding-top: 19px;
}
.zhw-header .pb8{
    padding-bottom: 8px;
}
.zhw-header .header-per-box{
    width: 149px;
    height: 80px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -68px;
    padding-top: 8px;
    box-shadow:0 4px 18px 0 #ccc;
    z-index: 99;
}
.zhw-header .tkbox1 {
    width: 189px;
}
.zhw-header .tkbox {
    position: absolute;
    top: 40px;
    left: -17px;
    box-shadow:0 4px 18px 0 #ccc;
    z-index: 99;
}
.zhw-header .tkbox .aSty01 {
    background: #fff;
    border: 1px solid #f1f2f3;
    min-width: 110px;
    min-height: 80px;
    padding: 5px 10px 10px;
    color: #dadada;
}
.zhw-header .tkbox .aSty01 .asty_box1{
    color: #dadada;
}
.zhw-header .tkbox1 .asty_box {
    font-size: 12px;
}
.zhw-header .tkbox1 .asty_box {
    padding-left: 10px;
    color: #333;
    font-weight: bold;
    line-height: 30px;
}
.zhw-header .tkbox a {
    line-height: 27px;
    color: #666;
    font-size: 12px;
}
.zhw-header .tkbox a:hover{
    color: #fc3737;
}
.zhw-header .tkbox{
    color: #666;
}
.zhw-header .tkbox1 .asty_box {
    padding-left: 0;
    color: #333;
    font-weight: bold;
    line-height: 30px;
}
.zhw-header .chunk a{
    display: block;
}
.zhw-header .chunk .aSty01{
    min-width: 74px;
}
.zhw-header .web-add {
    height: 30px;
    text-align: center;
    border-top: 1px dashed #E4E4E4;
    padding-top: 5px;
}
.zhw-header .web-add .web-add-con{
    width: 50%;
    float: left;
}
.zhw-header .web-add .web-add-con a {
    color: #FF594B;
}


.zhw-top{
    min-width: 1200px;
    padding-top: 19px;
    background-color: #ffffff;
    box-shadow:0 14px 16px 0 rgba(0, 0, 0, 0.03);
}
.zhw-top .zhw-search{
    width: 1200px;
    margin: 19px auto 29px;
}
.zhw-top .logo-text{
    font-size:14px;
    font-weight:400;
    color:#6E6E6E;
    margin-left: 18px;
    padding-top: 21px;
}
.zhw-top .index-search{
    width:328px;
    height:42px;
    border:2px solid #FC3737;
    margin-top: 9px;
    position: relative;
}
.zhw-top .se-lease{
    font-size:14px;
    font-weight:600;
    color: #FC3737;
    line-height: 42px;
    width: 112px;
    border-right: 2px solid #FC3737;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.zhw-top .se-lease-toggle{
    width: 112px;
    position: absolute;
    top: 42px;
    z-index: 99;
}
.zhw-top .zhw-se-val::-webkit-input-placeholder{
    color: #aaaaaa;
}
.zhw-top .zhw-search .se-lease-input .zhw-se-val{
    border: none;
    margin: 5px 14px;
    width: 300px;
    box-sizing: border-box;
    display: block;
    height: 32px;
    padding-left: 4px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    float: left;
}
.zhw-top .zhw-se-btn{
    width:102px;
    height:46px;
    font-size:16px;
    font-family: MicrosoftYaHei-Bold;
    font-weight:bold;
    color: #ffffff;
    line-height:16px;
    margin-top: 9px;
    background-color: #FC3737;
    border: none;
    cursor: pointer;
    letter-spacing: 4px;
    border-radius: 0;
}
.zhw-top .zhw-se-btn:hover{
    box-shadow: none;
}
.zhw-top .se-focus-toggle{
    width: 432px;
    min-height: 216px;
    padding-bottom: 20px;
    border: 1px solid #FC3737;
    position: absolute;
    left: -2px;
    top: 50px;
    z-index: 99;
    background-color: #fff;
}
.zhw-top .se-focus-flex{
    width: 50%;
}
.zhw-top .se-focus-title{
    padding: 20px 20px 0 20px;
    font-size:14px;
    font-weight:bold;
    color: #FC3737;
    position: relative;
}
.zhw-top .history-item-box,
.zhw-top .hot-item-box{
    padding-left: 20px;
}
.zhw-top .hot-item-box .hot-item{
    display: block;
    color: #FC9191;
    font-size: 12px;
    margin-top: 16px;
    margin-right: 32px;
    /* float: left; */
}
.zhw-top .hot-item-box .hot-item:hover{
    color: #FC3737;
    font-weight: bold;
}
.zhw-top .hot-item-on{
    color: #FC3737;
    font-weight: bold;
}
.zhw-top .history-item-box .history-item{
    margin-top: 16px;
    margin-right: 32px;
    font-size: 12px;
    float: left;
    color: #A8A8A8;
    cursor: pointer;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zhw-top .history-item-box .history-item:hover{
    color: #656565;
}
/* .history-del-icon {
    width: 12px;
    height: 15px;
    display: inline-block;
    background-position: -77px -49px;
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
} */
.zhw-top .history-del-icon:hover{
    background-position: -94px -49px;
}
.zhw-top .se-flex-line{
    width:1px;
    height:160px;
    background:#f0f0f0;
    position: absolute;
    left: 50%;
    top: 42px;
}

.zhw-top .zhw-nav{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.zhw-top .home-nav-box{
    overflow: hidden;
    margin-left: 210px;
}
.zhw-top .home-nav-item{
    float: left;
    margin: 0 30px;
    position: relative;
}
.zhw-top .home-nav-item .nav-current{
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 4px;
    background-color: #fff;
    left: 50%;
    margin-left: -14px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.zhw-top .home-nav-item:hover .nav-current,
.zhw-top .home-nav-item.current .nav-current  {
    width: 28px;
    background-color: #fa3737;
}


.zhw-top .home-nav-item a{
    color: #636262;
    font-size:14px;
    padding: 8px 0 4px 0;
    margin-bottom: 4px;
    display: block;
    border-bottom: 2px solid #fff;
}
.zhw-top .home-nav-item:hover a,
.zhw-top .home-nav-item.current a{
    font-weight:bold;
    color:#000000;
}
.zhw-top .home-download-btn{
    font-size:14px;
    font-weight:bold;
    color:#FC3737;
    position: absolute;
    right: 0;
    top: 8px;
}
.zhw-top .home-download-btn span,
.zhw-top .home-download-btn span:hover{
    font-size:14px;
    font-weight:bold;
    color: #fc3737;
}
.zhw-top .zhw-game-sidebar{
    width: 200px;
    /* height: 433px; */
    margin-top: -4px;
    float: left;
    background: #fff;
    position: absolute;
    z-index: 999;
}
.zhw-top .side-hot-text{
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight:bold;
    float: left;
    text-indent: 20px;
}
.zhw-top .side-hot-title{
    cursor: pointer;
    height: 40px;
    background-color: #FC3737;
    position: relative;
    border: 1px solid #f0f0f0;
    border-bottom: none;
}
.zhw-top .side-hot-toggle{
    position: absolute;
    left: 200px;
    z-index: 100;
    top: 0;
    display: none;
    cursor: default;
    margin-top: 55px;
}
.zhw-top .side-hot-box{
    width: 720px;
    height: 434px;
    background-color: #fff;
    margin-left: 10px;
    border:1px solid #EBEBEB;
    box-sizing: border-box;
}
.zhw-top .pre-drawer-box{
    width: 720px;
    height: 380px;
    background-color: #fff;
    margin-left: 10px;
    border:1px solid #EBEBEB;
    box-sizing: border-box;
    padding-bottom: 15px;
    overflow: hidden;
    cursor: default;
}
.zhw-top .side-hot-name{
    padding: 32px 24px;
    font-size:16px;
    font-weight:bold;
    color:#303030;
}
.zhw-top .side-hot-toggle .home-to-more{
    padding: 26px 24px;
    margin: 0;
}
.zhw-top .hot-game-item-box{
    margin: 0 24px;
}
.zhw-top .hot-game-item{
    display: block;
    float: left;
    width: 166px;
    margin-bottom: 24px;
    color: #515151;
    cursor: default;
}
.zhw-top .hot-inst-item{
    display: block;
    float: left;
    width: 166px;
    margin-bottom: 20px;
    color: #515151;
    cursor: default;
}
.zhw-top .hot-game-item a,
.zhw-top .hot-inst-item a{
    color: #515151;
}
.zhw-top .hot-game-item a:hover,
.zhw-top .hot-inst-item a:hover{
    color: #FC3737;
}
.zhw-top .instantly-hot-title{
    padding: 16px 24px 26px 24px;
    font-size:16px;
    font-weight:bold;
    color:#303030;
}

.zhw-top .hot-game-item i{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
}
.zhw-top .hot-game-text{
    float: left;
    font-size:14px;
    color: #515151;
    line-height: 40px;
    width: 110px;
}
.zhw-top .side-hot-flex{
    width: 50%;
    padding-bottom: 10px;
}
.zhw-top .side-hot-flex .side-hot-type{
    width: 74px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border:1px solid #636363;
    font-size: 12px;
    color: #636363;
    cursor: pointer;
    display: block;
}
.zhw-top .side-hot-flex.cur .side-hot-toggle{
    display: block;
}
.zhw-top .side-hot-flex.cur .side-hot-type{
    border:1px solid #FC3737;
    color: #FF4343;
}
.zhw-top .hot-type-item{
    font-size: 12px;
    color: #ff4e4e;
    margin-right: 16px;
    padding: 5px 16px;
    background-color: #ffe9e9;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 7px;
}
.zhw-top .hot-type-item:hover{
    color: #fff;
    background-color: #fc3737;
}
.zhw-top .dist-area-box{
    margin-left: 22px;
    margin-top: 11px;
}
.zhw-top .dist-area-tab{
    height: 28px;
}
.zhw-top .dist-area-top h3{
    font-size: 16px;
    color: #303030;
    font-weight: bold;
    margin: 0;
    margin-right: 33px;
}
.zhw-top .dist-area-tab span{
    line-height: 22px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    color: #303030;
    font-weight: bold;
    position: relative;
}
.zhw-top .dist-area-tab span i{
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -14px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.zhw-top .dist-area-tab-on .dist-area-border{
    width: 28px;
    background-color: #fc3737;
}
.zhw-top .dist-area-item{
    font-size: 14px;
    color: #515151;
    width: 145px;
    float: left;
    margin-top: 24px;
}
.zhw-top .dist-area-item a{
    cursor: pointer;
    color: #515151;
}
.zhw-top .dist-area-item a:hover{
    color: #fC3737;
}
.zhw-top .w116{
    width: 116px;
}
.zhw-top .side-hot-msg{
    overflow: hidden;
    padding-bottom: 10px;
}
.zhw-top .side-list{
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-top: none;
    display: none;
}
.zhw-top .side-game-item{
    width: 100%;
    height: 46px;
    cursor: pointer;
    float: left;
    color: #777777;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.zhw-top .side-game-item em{
    display: none;
    width: 16px;
    height: 100%;
    margin: 16px 22px 0 22px;
}
.zhw-top .side-game-item:hover .hover_none {
    display: none;
}

.zhw-top .side-game-item .hover_none {
    display: block;
}
.zhw-top .side-game-item:hover .hover_block {
    display: block;
}
.zhw-top .side-item-wrap{
    /* padding-top: 8px;
    padding-bottom: 10px; */
    height: 46px;
}
.zhw-top .side-item-wrap:first-child{
    
}
.zhw-top .side-item-wrap:last-child{
    padding-bottom: 10px;
}
.zhw-top .side-game-text{
    font-size:14px;
    font-weight:400;
    line-height: 46px;
}
.zhw-top .hot-type-select{
    padding: 20px 0 20px 22px;
}
.zhw-top .hot-type-select .a-text{
    font-size: 14px;
    color: #6f6e6e;
    line-height: 31px;
}
.zhw-top .hot-type-select > div.fl{
    max-width: 580px;
}

.zhw-top .zhw-view-move {
    float: right;
    line-height: 30px;
    padding-right: 15px;
    position: relative;
}
.zhw-top .zhw-view-move a {
    font-size: 12px;
    color: rgb(144, 144, 144);
}

.zhw-top .zhw-view-move a:hover {
    color: rgb(77, 77, 77);
}
.zhw-top .zhw-view-move a.sprite-ico i {
    position: absolute;
    top: 10px;
    right: 0;
    background-position: -246px -4px;
    width: 6px;
    height: 11px;
}
.zhw-top .zhw-view-move a.sprite-ico:hover i {
    background-position: -256px -4px;
}

/*icon*/
.zhw-top .icon-more {
    width: 6px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/index-sprite.46697e09ea7485bc.png') 0 -53px no-repeat;
}
.zhw-top .home-download-btn .home-download-icon {
    width: 12px;
    height: 14px;
    background-position: -193px -50px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
/* .zhw-top .zhw-view-move a.sprite-ico i {
    position: absolute;
    top: 10px;
    right: 0;
    background-position: 0 -53px;
    width: 6px;
    height: 11px;
} */
.zhw-top .side-right-icon {
    width: 7px;
    height: 12px;
    float: right;
    background-position: -183px -52px;
    margin: 14px 15px 14px 19px;
}
/*hover*/
.zhw-top .header-personal .header-text:hover {
    color: #ffffff;
}
.zhw-top .side-game-item:hover {
    color: #ffffff;
    background-color: #FC3737;
}
.zhw-top .side-game-item:hover .side-hot-toggle {
    display: block;
}

.zhw-top .ml23{
    margin-left: 23px;
}
.zhw-top .ml25{
    margin-left: 25px;
}
.zhw-top .ml19{
    margin-left: 19px;
}
.zhw-top .ml24{
    margin-left: 24px;
}
.zhw-top .ml20{
    margin-left: 20px;
}
.zhw-top .mr18{
    margin-right: 16px;
}
.zhw-top .mr6{
    margin-right: 6px;
}
.zhw-top .ml6{
    margin-left: 6px;
}
.zhw-top .pt19{
    padding-top: 19px;
}
.zhw-top .pb8{
    padding-bottom: 8px;
}
